* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
/* web theme and layout */
html, body {
    background: url("./image/fightingRing.png") center no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 100%;
}
body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
    /* background: url("./image/fightingRing.png") center no-repeat; */
}

/* header styling */
.welcome-header {
    /* width: 100%; */
    text-align: center;
    color: #f8d512;
}
.intro, h1 {
    font-size: 6.5rem;
    width: 100%;
    text-decoration: underline;
}

/* Main body styling and orientation */

/* Sub-heading */
.title-container {
    text-align: center;
    font-size: 2.5rem;
    margin: 5px;
}


/* Scoreboard styling */
.competitor-container {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}
.player1-container, .computer-container, .draw-container {
    background-color: rgba(240, 15, 15, 0.947);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}
.player1Score, .competitorScore, .drawScore {
    text-align: center;
}


/* Result screen */
.result-container{
    display: flex;
    justify-content: center;
}
.winner-results {
    border: 5px dotted #f8d512; 
    padding: 5rem;
    width: 80%;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Charater select Prompt */
.prompt1 {
    text-align: center;
    font-size: xx-large;
}
.moveLimit {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}
/* Fighter container spacing */
.fighter-container {
    display: flex;
    justify-content: space-evenly;
    margin: 55px 0;
}
/* Input and submit Styling */
.userFighter {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    margin: 0 10px 0 0;
}
.submitFighter {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffff;
    transition: background-color .03s;
}
/* hover effect */
.submitFighter:hover {
    background-color: #45a049;
}

/* Footer styling and spacing */
.try-again {
    display: flex;
    justify-content: space-evenly;
}
.again {
    padding: 5px 7px;
    font-size: xx-large;
    border-radius: 5px;
    border-style: none;
    margin-top: 2.5rem;
    background-color: #ffffff;
    transition: transform .1s ease, background-color .1s ease; /* helps with button press transition */
}
.again:hover {
    transform: translateY(2px);
    background-color: #b1b1b1;
}


/* This is for my buttons */

/* .fighter-container button{
    background-color: transparent;
    border-radius: 5px;
    border-style: none;
    transition: background-color 0.3s ease;
}
.fighter-container img {
    width: 10rem;
} */


/* Hover and other effects */
/* @keyframes shake {                                  
    0% {transform: translate(2px, 1px);}                   
    25% {transform: translate(-2px, -1px)}   
    50% {transform: translate(2px, 1px)}
    75% {transform: translate(-2px, -1px)}
    100% {transform: translate(0, 0)}
} */

/* .rockType:hover, .paperType:hover, .metalType:hover {
    box-shadow: 0 0 100px rgb(255, 230, 0);
    animation: shake 0.5s infinite;
} */



